body {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  background-color: #fcfbf9;
  padding: 20px 50px 0 50px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 50px;
}

.link {
  color: #5b7c7a;
  text-decoration: none;
}

.small-profile {
  float: left;
  width: 140px;
  margin: 25px;
  background-color: white;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
}

.small-image {
  min-width: 100%;
  min-height: 100%;
}

.image-container {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
}

.large-profile, .forms {
  width: 400px;
  margin: 100px 90% auto 10%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.large-image {
  min-width: 100%;
  min-height: 125%
}

.large-image-container {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.forms {
  width: 300px;
  padding-left: 50px;
  padding-top: 40px;
}

.submit {
  margin-top: 10px;
}

.upload-text {
  text-align: center;
}
